env HOME={{.Home}}
env TMPDIR={{.TmpDir}}
env sb_dir=$HOME/sandboxes/msb_{{.DbPathVer}}

[!exec:dbdeployer] skip 'dbdeployer executable not found'

! exists $sb_dir

exec dbdeployer deploy single {{.DbVersion}}
stdout 'Database installed in .*/sandboxes/msb_{{.DbPathVer}}'
stdout 'sandbox server started'
! stderr .
exists $sb_dir

exists $sb_dir/use
exists $sb_dir/start
exists $sb_dir/status
exists $sb_dir/stop

exec $sb_dir/test_sb
stdout '# fail  :     0'
! stderr .

exec dbdeployer delete msb_{{.DbPathVer}}
stdout 'sandboxes/msb_{{.DbPathVer}}'
! stderr .
! exists $sb_dir
